@using EntityLayer.Models
@model List<User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Oluşturulan Rapor Listesi</h5>
                <a type="button" class="btn btn-sm btn-success" href="@Url.Action("create","user")">Yeni Kullanıcı Ekle</a>
                <a type="button" class="btn btn-sm btn-danger" style="color:white;" onclick="GetQueue();">Kuyruktaki Raporları Güncelle</a>


                <table class="datatables-demo table table-striped table-bordered " id="reportList">
                    <thead>
                        <tr>

                            <th scope="col">Lokasyon Adı</th>
                            <th scope="col">Kullanıcı Sayısı</th>
                            <th scope="col">Telefon Sayısı</th>
                            <th scope="col">Oluşturma Tarihi</th>
                            <th scope="col">Durumu</th>
                            @*<th scope="col">İşlemler</th>*@

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>

                </table>

            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>


    $('document').ready(function () {
        $(function () {
            $('.datatables-demo').dataTable();
        });
        FillReportData();


    });
  
    function FillReportData() {

        $.ajax({
            url: '/takereport/GetallReports',
            data: {},
            success: function (result) {
                console.log(result);
               CreateReportDataTable(result);
            }
        });
    }

    function GetQueue() {

        $.ajax({
            url: '/takereport/readQueue',
            data: {},
            success: function (result) {
                console.log(result);
                setTimeout(yonlendir, 3000);
                //ekran yeniden yükleniyor
            }
        });
    }
    function yonlendir() {
        window.location.href = "/takereport/Index";
    }

    function CreateReportDataTable(list) {
        var table = $('#reportList').DataTable();
        table.destroy();
        table = $('#reportList').DataTable({
            dom: 'Bfrtip',
            "data": list,
            "columns": [

                { "data": "rpModel.location" },
                { "data": "rpModel.userCount" },
                { "data": "rpModel.userPhoneCount" },
                { "data": "rpModel.reportDate" },
                { "data": "reportDurum" },

                //{
                //    "style": 'min-width: 20px;',
                //    "render": function (data, type, row) {
                //        var update = '<a type="button" class="btn btn-sm btn-danger" href="/TakeReport/Edit/' + row.rpModel.id + '">Mesajları Getir</a>';
                //        return update;
                //    }
                //},
            ],
            "paging": true,
            "scrollY": 400,
            "scrollX": true,
            "bLengthChange": false,

            dom: '<"top display-flex  mb-2"<"action-filters"f><"actions action-btns display-flex align-items-center">><"clear">rt<"bottom" lp>',
        });

    }




</script>