
@model List<UserInformationViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kullanıcı İletişim Listesi</h5>
                <a type="button" class="btn btn-sm btn-success" href="@Url.Action("create","usercontact")">Yeni Kullanıcı İletişim Bilgisi Ekle</a>
                <a type="button" class="btn btn-sm btn-success" onclick="startReportQueue()">Yeni Rapor Oluştur</a>
              
               
                <table class="datatables-demo table table-striped table-bordered " id="userContactList">
                    <thead>
                        <tr>
                          
                            <th scope="col">Kullanıcı Adı</th>
                            <th scope="col">E-Mail Adresi</th>
                            <th scope="col">Telefon No</th>
                            <th scope="col">Lokasyon</th>
                            <th scope="col">Bilgi</th>
                            <th scope="col">İşlemler</th>

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                   
                </table>

            </div>
        </div>

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
   

     $('document').ready(function () {
        $(function () {
            $('.datatables-demo').dataTable();
        });
        FillUserContactData();
    });

    function sil(id) {
        if (confirm("Kullanıcı İletişim Bilgilerini silmek İstiyor musun?") == true) {
            $.ajax({
                url: "/UserContact/Delete/" + id,
                type: 'get',
                contentType: 'application/json',

          
                success: function (response) {
                    if (response.messageStatus != 0) {

                      alert("İlgili Kayıt Silindi");
                        FillUserContactData();
                    }
                    else {
                        alert( "İşlem Başarısız");
                    }


                },
                error: function (errMsg) {

               
                    return false;
                }
            });

        }
    }

    function startReportQueue(){
        $.ajax({
            url: '/createreport/SendMessage',
            data: {},
            success: function (result) {
                console.log("işlem başladı");
             // alert("işlem başladı");
            }
        });
    }

    function FillUserContactData() {

        $.ajax({
            url: '/UserContact/Datagetir',
            data: {},
            success: function (result) {
                console.log(result);
                CreateUserContactDataTable(result);
            }
        });
    }
    function CreateUserContactDataTable(list) {
        var table = $('#userContactList').DataTable();
        table.destroy();
        table = $('#userContactList').DataTable({
            dom: 'Bfrtip',
            "data": list,
            "columns": [
               
                { "data": "nameSurname" },
                { "data": "email" },
                { "data": "phone" },
                { "data": "location" },
                { "data": "information" },
              
                {
                    "style": 'min-width: 20px;',
                    "render": function (data, type, row) {
                        var update = '<a type="button" class="btn btn-sm btn-primary" href="/UserContact/Edit/'+row.id+'">Güncelle</a>';
                        var dlte = '  <a type="button" class="btn btn-sm btn-danger" style="color:white;" onclick="sil('+row.id+');">Sil</a>';
                        return update + ' ' + dlte;
                    }
                },
            ],
            "paging": true,
            "scrollY": 400,
            "scrollX": true,
            "bLengthChange": false,
            dom: '<"top display-flex  mb-2"<"action-filters"f><"actions action-btns display-flex align-items-center">><"clear">rt<"bottom" lp>',
        });

    }
</script>